a,a:hover,a:focus {
    text-decoration: none!important;
    color:inherit!important;
}
input:focus {
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
ul,ol,dl {
    list-style:none;
    margin:0;
    padding:0;
}


