/***************************公共样式**************************/
* {
    box-sizing:border-box;
}
html,body {
    height:100%;
    background:#fff;
    color:#333;
}
#__nuxt {
    height:100%;
}
#sign-template {
    height:100%;
    background:#f1f1f1;
}
#default-template {
    height:100%;
    padding-top:56px;
    background:#ffff;
}
a,a:hover,a:focus {
    text-decoration: none!important;
    color:inherit!important;
}
input:focus {
    outline:none;
}
h1,h2,h3,h4,h5,h6 {
    margin:0;
    padding:0;
}
ul,ol,dl {
    list-style:none;
    margin:0;
    padding:0;
}
.my-container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px
}
@media (min-width: 992px){
    .my-container {
        width: 960px;
    }
}
@media (max-width: 1080px){
    .my-container {
        width: 750px;
    }
}
/*********************首页布局***************************/
.index {
    padding-top:30px;
}
.index .main {
    padding-right:0;
}
.index .aside {
    padding:0 0 0 4.16667%;
}
.index .main .banner img{
    width:100%;
    height:auto;
    display:block;
    border-radius:4px;
}
.index .main .banner {
    margin-bottom:35px;
}
.index .main .recommend-collection {
    margin-bottom:10px;
}
.index .main .recommend-collection a {
    display:inline-block;
    min-height:34px;
    margin:0 18px 18px 0;
    border-radius: 6px;
    background-color:#f7f7f7;
    border:1px solid #ccc;
    overflow:hidden;
}
.index .main .recommend-collection .more-hot-collection {
    display:inline-block;
    margin:0;
    vertical-align:top;
    line-height:34px;
    font-size:14px;
    background:none;
    border:none;
    color:#787878;
}
.index .main .recommend-collection a img {
    width:32px;
    height:32px;
    vertical-align:bottom;
}
.index .main .recommend-collection a span {
    font-size:14px;
    display:inline-block;
    line-height:32px;
    padding:0 10px;
}
.index .main .split-line {
    margin:0 0 15px;
    border-bottom:1px solid #f0f0f0;
}
.note-list {
    border:0;
    padding:0;
    margin:0;
    list-style:none;
}
.note-list li{
    position:relative;
    width:100%;
    padding:0 0 17px 0;
    margin:0 0 17px 0;
    border-bottom:1px solid #f0f0f0;
    word-wrap:break-word;
}
.note-list li.have-img>.wrap-img{
    position:absolute;
    top:50%;
    right:0;
    margin-top:-60px;
    width:150px;
    height:120px;
}
.note-list li.have-img>.wrap-img img {
    width:100%;
    height:100%;
    border-radius: 4px;
    border:1px solid #f0f0f0;
}
.note-list li.have-img .content {
    padding-right:160px;
}
.note-list .author {
    margin-bottom:14px;
    font-size:13px;
}
.note-list .author .avatar ,.note-list .author .info {
    display:inline-block;
    vertical-align: middle;
}
.avatar {
    width:32px;
    height:32px;
    display:block;
}
.avatar img {
    width:100%;
    height:100%;
    border-radius: 50%;
    border:1px solid #ccc;
}
.note-list .author .avatar {
    margin:0 10px 0 0;
}
.note-list .author .info .time {
    color:#969696;
    padding-left:5px;
}
.note-list .title {
    font-size:18px;
    font-weight: 700;
    margin-bottom:7px;
}
.note-list .title:visited {
    color:#969696;
}
.note-list .abstract {
    font-size:13px;
    line-height:24px;
    margin:0 0 7px 0;
}
.note-list .meta {
    font-size:12px;
    line-height:20px;
    font-weight:400;
}
.note-list .meta .collection-tag {
    display:inline-block;
    vertical-align: middle;
    max-width:200px;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#ea6f5a!important;
    border:1px solid #ea6f5a;
    padding:3px 6px;
    border-radius: 4px;
    margin-right:10px;
    transition:all ease-in .2s;
}
.note-list .meta .collection-tag:hover {
    background-color:rgb(254,247,246);
    border-color:rgb(236,97,73);
}
.note-list .meta .tag{
    margin-right:10px;
    color:#b4b4b4!important;
    transition:all ease-in .2s;
}
.note-list .meta .tag:hover {
    color:rgb(120,120,120)!important;
}
.note-list .meta span {
    color:#b4b4b4;
}
@media (max-width: 1080px){
    .note-list li.have-img .wrap-img {
        margin-top: -58px;
        bottom: 40px;
        width: 125px;
        height: 100px;
    }
    .note-list li.have-img .content {
        padding-right: 135px;
    }
}
.index .main .load-more {
    display:block;
    width:100%;
    height:40px;
    text-align:center;
    color:#fff!important;
    background:#a5a5a5;
    border-radius: 20px;
    margin:30px auto 60px;
    padding:10px 15px;
    font-size:15px;
}
.index .aside .board {
    margin-bottom:4px;
}
.index .aside .board img {
    margin-bottom:6px;
    width:100%;
    border-radius: 4px;
}
.recommend-author {
    margin-bottom:20px;
    font-size:13px;
    text-align:center;
}
.recommend-author .title {
    text-align:left;
    color:#969696;
}
.recommend-author .title .page-change {
    float:right;
    color:#969696;
}
.recommend-author .title .page-change i {
    transition: ease .2s;
}
.recommend-author .list {
    margin-bottom:20px;
    text-align:left;
}
.recommend-author .list li {
    margin-top:15px;
}
.recommend-author .list li .avatar {
    float:left;
    width:48px;
    height:48px;
    margin-right:10px;
}
.recommend-author .list li .follow {
    margin-top:5px;
    float:right;
    font-size:13px;
    color:#42c02e!important;
}
.recommend-author .list li .name {
    display:block;
    padding-top:5px;
    margin-right:60px;
    font-size:14px;
}
.recommend-author .list li p {
    color:#969696;
    font-size:12px;
}
.recommend-author .find-more {
    display:block;
    width:100%;
    padding:7px 7px 7px 12px;
    color:#787878!important;
    border:1px solid #ccc;
    background:#f7f7f7;
    font-size:13px;
    border-radius: 4px;
}
.recommend-author .find-more i {
    font-size:14px;
    margin-left:5px;
}
.aside  .download {
    display: block;
    width:100%;
    min-height:70px;
    border:1px solid #ccc;
    border-radius: 6px;
    background-color:#fff;
    padding:7px 10px;
    margin-bottom:30px;
}
/*********************文章页面布局***************************/
.note {
    position:relative;
    padding-top:10px;
}
.note .post {
    width:620px;
    margin:0 auto;
    padding-top:20px;
    padding-bottom:40px;
}
.note .post .article .title {
    font-size:34px;
    font-weight:700;
    margin:20px 0 0;
    word-break: break-all;
}
.note .post .article .author {
    margin:30px 0 40px 0;
}
.note .post .article .author .avatar {
    width:48px;
    height:48px;
    display:inline-block;
    border-radius: 50%;
    border:1px solid #ccc;
}
.note .post .article .author .info {
    display:inline-block;
    margin-left:10px;
    vertical-align:middle;
}
.note .post .article .author .info .name {
    font-size:16px;
    margin-right:5px;
}
.note .post .article .author .info .follow {
    background:#42c02e!important;
    color:#ffff!important;
    font-size:12px;
    border-radius: 20px;
    padding:1px 8px 1px 6px;
}
.note .post .article .author .info .following {
    background:#fff;
    color:#969696;
    border:1px solid #ccc;
    font-size:12px;
    border-radius: 20px;
    padding:1px 8px 1px 6px;
}
.note .post .article .author .meta {
    margin-top:5px;
    font-size:12px;
    color:#969696;
}
.note .post .article .author .meta span {
    margin-right:5px;
}
.note .post .article .author .info .btn-sm span {
    margin-left:5px;
}

































